<div class="section">
    <ng-container *ngIf="struct">
        <form #integrityForm="ngForm" (ngSubmit)=submitStruct()>
            <div class="field">
                <label class="label">Hash</label>
                <div class="control">
                    <input [(ngModel)]="struct.hash" #resourceHash="ngModel" name="resourceHash"
                        class="input" type="text" placeholder="File hash-code" disabled required>
                </div>
            </div>
            <div class="field">
                <label class="label">URI</label>
                <div class="control">
                    <input [(ngModel)]="struct.uri" #resourceUri="ngModel" name="resourceUri"
                        class="input" type="text" placeholder="Host server URI (download URI)" disabled required>
                </div>
            </div>
            <div class="field">
                <label class="label">Repo URI</label>
                <div class="control">
                    <input [(ngModel)]="struct.repo_uri" #resourceRepoUri="ngModel" name="resourceRepoUri"
                        class="input" type="text" placeholder="Repository URI of source code" required>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit" [disabled]="!integrityForm.valid">Submit</button>
                </div>
                <div class="control">
                    <button [routerLink]="['/']" type="button" class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </form>
    </ng-container>
</div>