/* Bulma default values */
@import "../node_modules/bulma/sass/utilities/_all.sass";

// progress bar
$progress-bar-background-color: $red; // doesn't work
$progress-value-background-color: $green;
$progress-border-radius: unset;

// section
$section-padding: .5em 0;
$section-padding-medium: .5em 0;
$section-padding-large: .5em 0;

// box
$box-padding: .2em .5em;
$box-radius: unset;
$box-shadow: unset;

// navbar
$navbar-height: 2.80rem;

// card
$card-shadow: unset;
$card-header-shadow: unset;
$card-header-padding: 0.3em .5rem;
$card-content-padding: .5em;
$card-footer-padding: unset;

/* Rest of Bulma */
@import "~bulma/bulma.sass";

/* Brute overrides */
html,
body {
    overflow: unset;
    max-height: 489px;
    width: 350px;
}

.section {
    background-color: whitesmoke;
}

.progress {
    background-color: $red;
}