/* Bulma default values */
@import "../node_modules/bulma/sass/utilities/_all.sass";

// progress bar
$progress-bar-background-color: $red; // doesn't work
$progress-value-background-color: $green;
$progress-border-radius: $radius;

// section
$section-padding: .5rem;
$section-padding-medium: .5rem;
$section-padding-large: .5rem;

// box
$box-padding: .2em .5em;

// navbar
$navbar-height: 2.80rem;

/* Rest of Bulma */
@import "~bulma/bulma.sass";

/* Brute overrides */
.progress {
    background-color: $red;
}

html, body {
    height: 489px;
}