<div class="panel">
    <p class="panel-heading">
        Resources
    </p>
    <div class="panel-block">
        <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Search">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
    </div>
    <p class="panel-tabs">
        <a class="is-active">All</a>
        <a>This tab</a>
        <a>Private</a>
        <a>Sources</a>
        <a>Forks</a>
    </p>
    <ng-container *ngFor="let resource of resources">
        <div class="panel-block">
            <fa-icon [icon]="faCoffee"></fa-icon>
            {{resource.resourceUrl}}
            {{resource.status}}
            {{resource.state}}
        </div>
    </ng-container>
    <div class="panel-block">
        <button class="button is-link is-outlined is-fullwidth">
            Reset all filters
        </button>
    </div>
</div>