.resource-item {
    border-top: 1px solid #BFCAFF;
    border-bottom: 1px solid #BFCAFF;

    &:last-child {
        border-bottom: unset;
    }

    &:first-child {
        border-top: unset;
    }
}

.resource-name {
    word-break: break-all;
    max-width: 20em;
    max-height: 5em;
    overflow-y: hidden;
}