.section {
    background-color: whitesmoke;
}

.box {
    margin: 1em 0;
}

.resource-name {
    word-break: break-all;
    max-width: 20em;
    max-height: 5em;
    overflow-y: hidden;
}

.resource-tags {
    display: flex;
    align-items: center;
    .icon {
        margin: 0 .1em;
    }
    span.tag-elem {
        margin-right: .5em;
        &.progress-wrapper {
            display: flex;
            align-items: center;
            margin: unset;
        }
    }
    progress.progress {
        display: inline-block;
        max-width: 5em;
    }
}