<div class="section">
    <ng-container *ngFor="let resource of resources">
        <div class="columns resource-item">
            <div class="column is-full">
                <div class="label resource-name">
                    <span>{{retrieveFileName(resource.resourceUrl)}}</span>
                    <span *ngIf="resource.resourceRepoUrl">
                        <a class="icon" [attr.href]="resource.resourceRepoUrl">
                            <fa-icon [icon]="faLink"></fa-icon>
                        </a>
                    </span>
                </div>
                <div class="tags">
                    <span class="tag" [ngClass]="resolveTagColor(resource.state)">
                        {{resource.state | lowercase}}</span>
                </div>
            </div>
            <div class="column is-full">
                <div class="buttons">
                    <ng-container *ngIf="resource.state === state.UNPUBLISHED">
                        <a [routerLink]="['/resources/' + resource.resourceHash + '/publisher']"
                            class="button is-small is-primary is-light">
                            Publish
                        </a>
                    </ng-container>
                    <ng-container *ngIf="resource.state !== state.UNPUBLISHED">
                        <a [routerLink]="['/resources/' + resource.resourceHash + '/reports/publisher']"
                            class="button is-small is-link is-light">
                            Report
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>
</div>