.box {
    margin: .6em 0;
}

.resource-name {
    word-break: break-all;
    max-width: 20em;
}

.resource-tags {
    display: flex;
    align-items: center;

    span.tag-elem {
        margin-right: .5em;
    }
}

.progress-wrapper {
    margin-top: unset;
}

.buttons-and-progress-tags-wrapper {
    display: flex;

    .buttons {
        display: flex;
        margin-bottom: unset;
        margin-top: .4em;
        width: 50%;
    }

    .progress-tags {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50%;
        .tag {
            border-radius: unset;
        }
    }
}